<%= form_with(model: rent, local: true) do |form| %>
  <% if rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rent.errors.count, "error") %> prohibited this rent from being saved:</h2>

      <ul>
        <% rent.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="name">物件名</label>
    <p><%= form.text_field :name %></p>
  </div>

  <div class="field">
    <label for="price">賃料</label>
    <p><%= form.text_field :price %>円</p>
  </div>

  <div class="field">
    <label for="address">住所</label>
    <p><%= form.text_field :address %></p>
  </div>

  <div class="field">
    <label for="age">築年数</label>
    <p><%= form.text_field :age %>年</p>
  </div>

  <div class="field">
    <label for="remarks">備考</label>
    <p><%= form.text_area :remarks %></p>
  </div>

  <tr><td><hr width="1000"></td></tr>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>
