<h1>閲覧</h1>

<p>
  <strong>物件名:</strong>
  <%= @rent.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @rent.price %>
</p>

<p>
  <strong>住所:</strong>
  <%= @rent.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @rent.age %>
</p>

<p>
  <strong>備考:</strong>
  <%= @rent.remarks %>
</p>

<tr><td><hr width="1000"></td></tr>

<%= link_to '編集', edit_rent_path(@rent) %> |
<%= link_to '一覧', rents_path %>
